* {
    margin: 0;
    padding: 0;
    
}
header{
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
   
}

main{
    font-family: Arial, sans-serif;
    background-color: #000000;
    border: 1px solid #000000;
    margin-right: 200px;
    margin-left: 200px;
    height: 313px;
}

img{
    margin-left: 800px;
    height: auto;
    display: block;
    margin-bottom: 60px;
}
a{
    text-decoration: none;
    color: red;
    margin: 10px;
    
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    bottom: 0;
    height: 25px;
    width: 100%;
    text-align: center;
}
header img{
    height: 100px;
    width: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
}
#enviar{
    background-color: rgb(0, 0, 0);
    margin-left: 370px;
    padding: 5px;
    border: none;
}
#limpar {
    background-color: rgb(0, 0, 0);
    margin-left: 90px;
    padding: 5px;
    border: none;
}
img#logo{
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
